In [16]:
# Variable
age = 20 
price = 19.95
first_name = "Zeel"
is_online = True
print(age, price, first_name, is_online)

20 19.95 Zeel True

In [24]:
# Receiving Input
name = input("What is your name? ")
print("Hello " + name)

What is your name?  Zeel

Hello Zeel

In [34]:
# Type Conversion
birth_year = input("Enter your birth year: ")
age = 2024- int(birth_year) # Function
print(age)

# int()
# float()
# bool()
# str()

Enter your birth year:  1999

25

In [50]:
# Exercise
First = input("First: ")
Second = input("Second: ")
Sum = float(First) + float(Second)
print("Sum is: " + str(Sum))

First:  25.30
Second:  25.30

Sum is: 50.6

In [106]:
# String
course = "Python for Beginners"
#         0123456789  
print(course.find("f"))
print(course.replace("for", "4"))
print(course.find("B"))
print("for" in course)

7
Python 4 Beginners
11
True

In [54]:
# Arithmetic Operators
x = 10
x -= 3
print(x)

7

In [56]:
# Operator Precedence
x1 = 10 + 3 * 2
x2 = (10 + 3) * 2
print(x1)
print(x2)

16
26

In [58]:
# Comparison Operators
#> >= < <= == !=

In [60]:
# Logical Operators
price = 25
print(price > 10 and price < 25) #(Both)
print(price > 10 or price < 25)  #(Atleast)
print(not price > 10)            #(Inverse)

False
True
False

In [62]:
# If Statements
temperature = 5

if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
elif temperature > 20: # (20, 30]
    print("It's a nice day")
elif temperature > 10: # (10, 20]
    print("It's a bit cold")
else:
    print("it's cold")

print("Done")

it's cold
Done

In [4]:
# Excercise
weight = float(input("Weight: "))
unit = input("(K)g or (L)bs: ")
if unit.upper() == "k":
    converted = weight / 0.45
    print("Weight in Lbs: " + str(converted))
else:     
    converted = weight * 0.45
    print("Weight in kgs: " + str(converted))

Weight:  170
(K)g or (L)bs:  l

Weight in kgs: 76.5

In [12]:
# While Loops
i = 1
while i <= 10:
    print(i * "*")
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [30]:
# Lists
names = ["John", "Bob", "Mosh", "Sam", "Mary"]
names[0] = "Jon"
print(names[0])
print(names[-2])
print(names[0:4]
print(names)

Jon
Sam
['Jon', 'Bob', 'Mosh', 'Sam']
['Jon', 'Bob', 'Mosh', 'Sam', 'Mary']

In [49]:
# List Methods
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
numbers.insert(0, -1)
numbers.remove(3)
print(numbers) 
print(1 in numbers)
print(3 in numbers)
print(len(numbers))

[-1, 1, 2, 4, 5, 6]
True
False
6

In [67]:
# For Loops
numbers = [1, 2, 3, 4, 5]
for item in numbers:
    print(item)

i = 0
while i < len(numbers):
    print(numbers[i])
    i = i + 1
    
print(numbers)

1
2
3
4
5
1
2
3
4
5
[1, 2, 3, 4, 5]

In [105]:
# Range Function
numbers = range(1, 10, 2) # range(Start, End, Step)
for number in numbers:
    print(number)
for number in range(5):
    print(number)
print(numbers)

1
3
5
7
9
0
1
2
3
4
range(1, 10, 2)

In [121]:
# Tuples
numbers = (1, 2, 2, 2, 3)
numbers.count(2)

3